*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

.lienzo{
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 10% 90%;
    width: clamp(600px, 80%, 1500px);
    height: 100vh;
    /* border: 2px solid red; */
    justify-items: center;
    justify-self: center;
    align-items: center;
    /* gap: 3em; */
    row-gap: 1em;
    column-gap: 2em;
    box-sizing: content-box;

}
.cabecera{
    grid-column: 1 /span 3;
    grid-row: 1;

}
.intrucciones{
    grid-column: 1;
    grid-row: 2;
}
.panel{
    grid-column: 2;
    grid-row: 2;
    

}
.menu{
    grid-column: 3;
    grid-row: 2;
    position: sticky;
    left: 100;
}

button {
    padding: 10px 20px; 
    font-size: 16px; 
    border: 2px solid #333; 
    border-radius: 5px; 
    cursor: pointer; 
    width: clamp(40px, 60%, 100%); 
    margin-bottom: 1em;


}

#facil{
    background-color: hsl(133, 41%, 54%);
}
#medio{
    background-color: hsl(44, 97%, 63%);
}
#dificil{
    background-color: hsl(352, 100%, 50%);
}

#juego{
    width: 500px;
    height: 500px;
    border: 10px solid darkgray;
    background-color: lightgray;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
#juego div{
    width: 48px;
    height: 48px;
    border: 1px solid whitesmoke;

    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#juego div:hover{
    background-color: hsl(60, 1%, 39%);
}

.comprobada {
    background-color: rgb(37, 37, 37);
}

.x1 {
    color: blue;
}

.x2 {
    color: green;
}

.x3 {
    color: red;
}

.x4 {
    color: navy;
}

.x5 {
    color: brown;
}

.x6 {
    color: teal;
}

.x7 {
    color: black;
}

.x8 {
    color: gray;
}
