*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --color-primario: hsl(201, 87%, 85%);
    --color-secundario: hsl(21, 89%, 71%);
    --color-borde-tablero: hsl(40, 33%, 96%) ;
    --color-tablero: hsl(144, 82%, 47%);
    --color-ficha-pulsada: hsl(14, 22%, 27%);
    --color-hover: hsl(185, 84%, 38%);
    --color-bomba: hsl(0, 99%, 58%)
}  

body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: var(--color-primario);
}

.lienzo{
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 10% 90%;
    width: clamp(600px, 80%, 1500px);
    height: 100vh;
    /* border: 2px solid red; */
    justify-items: center;
    justify-self: center;
    align-items: center;
    /* gap: 3em; */
    row-gap: 1em;
    column-gap: 2em;
    box-sizing: content-box;

}
.cabecera{
    grid-column: 1 /span 3;
    grid-row: 1;
    font-size: x-large;

}
.intrucciones{
    grid-column: 1;
    grid-row: 2;
}
.panel{
    display:flex;
    flex-direction: column;
    grid-column: 2;
    grid-row: 2;
    gap: 2em;
    

}
.menu{
    grid-column: 3;
    grid-row: 2;
    position: sticky;
    left: 100;
}

button {
    padding: 10px 20px; 
    font-size: 16px; 
    border: 2px solid #333; 
    border-radius: 5px; 
    cursor: pointer; 
    width: clamp(40px, 60%, 100%); 
    margin-bottom: 1em;


}

#facil{
    background-color: hsl(133, 41%, 54%);
}
#medio{
    background-color: hsl(44, 97%, 63%);
}
#dificil{
    background-color: hsl(352, 100%, 50%);
}

#juego{
    width: 500px;
    height: 500px;
    border: 10px solid var(--color-borde-tablero);
    background-color: var(--color-tablero);

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
#juego div{
    width: 48px;
    height: 48px;
    border: 1px solid var(--color-secundario);

    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#juego div:hover{
    background-color: var(--color-hover);
}

.comprobada {
    background-color: var(--color-ficha-pulsada);
}

.x1 {
    color: hsl(182, 82%, 93%);
}

.x2 {
    color: hsl(85, 35%, 81%);
}

.x3 {
    color: hsl(66, 47%, 43%);
}

.x4 {
    color: hsl(69, 61%, 47%);
}

.x5 {
    color: brown;
}

.x6 {
    color: teal;
}

.x7 {
    color: black;
}

.x8 {
    color: gray;
}
#cifraInput {
    width: 50px;
}